<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wallet</title>
  </head>
  <body>
    <div>
      <h1>Wallet</h1>
      <div id="wallet_amount">0</div>
      <button id="reload_wallet">Reload Wallet</button>

      <p>Public Key</p>
      <textarea id="public_key" rows="2" cols="100"></textarea>

      <p>Private Key</p>
      <textarea id="private_key" rows="1" cols="100"></textarea>

      <p>Blockchain Address</p>
      <textarea id="blockchain_address" rows="1" cols="100"></textarea>
    </div>

    <div>
      <h1>Send Money</h1>
      <div>
        Address:
        <input id="recipient_blockchain_address" size="100" type="text" />
        <br />
        Amount: <input id="send_amount" type="text" />
        <br />
        <button id="send_money_button">Send</button>
      </div>
    </div>

    <script>
      const publicKeyel = document.getElementById("public_key");
      const privateKeyEl = document.getElementById("private_key");
      const blockchainAddressEl = document.getElementById("blockchain_address");
      const sendBtn = document.getElementById("send_money_button");
      const walletAmountEl = document.getElementById("wallet_amount");

      sendBtn.addEventListener("click", sendMoney);
      CreateWallet();

      async function CreateWallet() {
        const url = "/wallet";
        const response = await fetch(url);
        jsonResponse = await response.json();

        publicKeyel.value = jsonResponse.public_key;
        privateKeyEl.value = jsonResponse.private_key;
        blockchainAddressEl.value = jsonResponse.blockchain_address;
      }

      async function sendMoney() {
        const recipentAddressEl = document.getElementById(
          "recipient_blockchain_address"
        );
        const amountEl = document.getElementById("send_amount");

        const url = "/wallet/transactions";
        const body = {
          sender_private_key: privateKeyEl.value,
          sender_public_key: publicKeyel.value,
          sender_blockchain_address: blockchainAddressEl.value,
          recipient_blockchain_address: recipentAddressEl.value,
          value: Number(amountEl.value),
        };

        try {
          const response = await fetch(url, {
            method: "POST",
            body: JSON.stringify(body),
          });

          const jsonResponse = await response.json();
        } catch (err) {}
      }

      async function updateWallet() {
        const url = `/wallet/amount?blockchain_address=${blockchainAddressEl.value}`;
        const response = await fetch(url);
        jsonResponse = await response.json();

        walletAmountEl.innerText = "16";
      }

      setInterval(updateWallet, 3000);
    </script>
  </body>
</html>
