<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wallet</title>
  </head>
  <body>
    <h1>Hello from Wallet</h1>

    <div>
      <h1>Wallet</h1>
      <div id="wallet_amount">0</div>
      <button id="reload_wallet">Reload Wallet</button>

      <p>Public Key</p>
      <textarea id="public_key" rows="2" cols="100"></textarea>

      <p>Private Key</p>
      <textarea id="private_key" rows="1" cols="100"></textarea>

      <p>Blockchain Address</p>
      <textarea id="blockchain_address" rows="1" cols="100"></textarea>
    </div>

    <div>
      <h1>Send Money</h1>
      <div>
        Address:
        <input id="recipient_blockchain_address" size="100" type="text" />
        <br />
        Amount: <input id="send_amount" type="text" />
        <br />
        <button id="send_money_button">Send</button>
      </div>
    </div>

    <script>
      const publicKeyel = document.getElementById("public_key");
      const privateKeyEl = document.getElementById("private_key");
      const blockchainAddressEl = document.getElementById("blockchain_address");
      async function CreateWallet() {
        const url = "/wallet";
        const response = await fetch(url);
        jsonResponse = await response.json();

        publicKeyel.innerText = jsonResponse.public_key;
        privateKeyEl.innerText = jsonResponse.private_key;
        blockchainAddressEl.innerText = jsonResponse.blockchain_address;
      }

      CreateWallet();
    </script>
  </body>
</html>
